<div class="article">
<article class="article-01">
    <div id="lorem">
    <h2>Photography</h2>
    <img src="/images/Photography.png" alt="Article 1 Image">
    </div>
    <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dictum varius duis at consectetur. Nulla at volutpat diam ut venenatis tellus in metus. Eu turpis egestas pretium aenean pharetra. Sed lectus vestibulum mattis ullamcorper. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Adipiscing bibendum est ultricies integer quis. Nibh praesent tristique magna sit amet purus. Integer eget aliquet nibh praesent tristique magna sit amet. </p>     
    </div>
</article>


<article class="article-02">
    <div id="lorem">
    <h2>Gaming Icon</h2>
    <img src="/images/Game-icon.png" alt="Article 2 Image">
    </div>
    <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dictum varius duis at consectetur. Nulla at volutpat diam ut venenatis tellus in metus. Eu turpis egestas pretium aenean pharetra. Sed lectus vestibulum mattis ullamcorper. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Adipiscing bibendum est ultricies integer quis. Nibh praesent tristique magna sit amet purus. Integer eget aliquet nibh praesent tristique magna sit amet. </p>     
    </div>
</article>


<article class="article-01">
        <div id="lorem">
        <h2>Logo</h2>
        <img src="/images/Logo.png" alt="Article 3 Image">
        </div>
        <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dictum varius duis at consectetur. Nulla at volutpat diam ut venenatis tellus in metus. Eu turpis egestas pretium aenean pharetra. Sed lectus vestibulum mattis ullamcorper. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Adipiscing bibendum est ultricies integer quis. Nibh praesent tristique magna sit amet purus. Integer eget aliquet nibh praesent tristique magna sit amet. </p>     
        </div>
</article>
</div>